<?xml version="1.0" encoding="UTF-8"?>
<Template xmlns="http://wirecloud.conwet.fi.upm.es/ns/template#">

    <Catalog.ResourceDescription>
        <Vendor>Aedit</Vendor>
        <Name>SmartIPMGISSelector</Name>
        <DisplayName>SmartIPM GIS Selector</DisplayName>
        <Author>Diego Guidotti, Michele Mammini</Author>
        <Version>1</Version>
        <Mail>diego.guidotti@gmail.com</Mail>
        <Description>Showing a smartIPM model results</Description>
        <ImageURI>images/logo.png</ImageURI>
        <iPhoneImageURI>images/logo.png</iPhoneImageURI>
        <WikiURI>http://conwet.fi.upm.es/docs/display/wirecloud/Widgets</WikiURI>
    </Catalog.ResourceDescription>

    <Platform.Preferences>
        <Preference name="latitude" type="text" description="Latitude" label="Latitude" default="43.35012"/>
        <Preference name="longitude" type="text" description="Longitude" label="Longitude" default="10.52148"/>
        <Preference name="zoom" type="text" description="Zoom" label="Zoom" default="7"/>
    </Platform.Preferences>

    <Platform.Wiring>
        <OutputEndpoint name="coordinates" type="text" label="coordinates" description="Coordinates" friendcode="keyword"/>
    </Platform.Wiring>

    <Platform.Link>
        <XHTML
            href="index.html"
            contenttype="text/html"
            cacheable="false"
            use-platform-style="true"/>
    </Platform.Link>

    <Platform.Rendering width="5" height="12"/>
</Template>
